<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>Welcome to KISTI Tech Group</h1>

  <h2>
    KISTI Tech Group is focusing on state-of-art Information Technology including web development, framework, and new language. We hope you will join our group to discuss the new technology and share our experiences.
  </h2>
</div>