<% provide(:title, 'Home') %>

<section id="typography">
<div class="well">
	<div class="row-fluid">

		
	      	  <h1>Beyond the code</h1>

			  <h3>
				Interesting Technologies are new language, developing frameworks, and web technology
			  </h3>
			  
			  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		

	</div>
</div>
</section>
