<footer class="footer">
  <small>
    <a href="http://kistitechgroup.herokuapp.com/">KISTI Tech group</a>
    by codegen
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",  help_path  %></li>
    </ul>
  </nav>
</footer>